.maintitle {
 font-size: 35px;
 font-weight: bolder;
 font-style: italic;
 font-family: cursive;
 background-color: burlywood;
 }

.indnt {
 color: chocolate;
}
.topbar {
 /* background-color: ; */
}
.heads {
 font-size: 35px;
 font-family: cursive;
 font-weight: bolder;
 background-color: antiquewhite;
height: 100px;
}

.title {
 color: brown;
}

.ant-menu {
 background-color: red;
}
.navibar  {
 background-color: antiquewhite;
 font-size: 20px;
}
